.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffcc00;
  border-bottom: 4px solid #cc0000;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 40rem;
}

.nav-links li a {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  color: #222;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.nav-links li a:hover {
  background-color: #222;
  color: #ffcc00;
  box-shadow: 2px 2px #cc0000;
}
